#stream_pagelet {
    height: 10000px !important;
}

.rhcFooter,
#pagelet_ego_pane,
#MRoot article[data-xt],
#MFirstBatch article[data-xt*="adid"],
._1lil._2pie._3-8y,
._6y8t._3-95._71uj,
a[aria-label="Advertiser link"] {
    display: none !important;
}

.home_right_column {
    min-height: inherit !important;
}

.recentPost {
    border: none;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 665px;
}

.ad {
    font-family: Gill Sans, Verdana;
    font-size: 30px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    padding-left: 10px;
}